<!-- views/hompage.ejs -->

<!DOCTYPE html>
<html lang="de">
<% include partials/head.ejs  %>
<body class="homepage" data-wio-id="<%=pageContent.id%>">
    

<%include partials/header.ejs %>

<% var banner = pageContent.data.homepage_banner[0] %>
<section class="homepage-banner" style="background-image: url('<%=banner.image.url%>'),linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6))">
    <div class="banner-content container">
        <h2 class="banner-title"><%=PrismicDOM.RichText.asText(banner.title)%></h2>
        <p class="banner-description"><%=PrismicDOM.RichText.asText(banner.tagline)%></p>
        <% var buttonLink = PrismicDOM.Link.url(banner.button_link, ctx.linkResolver) %>
        <% var buttonLabel = PrismicDOM.RichText.asText(banner.button_label) %>
        <%if(buttonLink && buttonLabel) {%>
            <a class="banner-button" href="<%=buttonLink%>"><%=buttonLabel%></a>
        <% } %>
    </div>
</section>

<main>
    <div class="container">
    <% pageContent.data.page_content.forEach(function(slice) { 
        switch(slice.slice_type) { 
            case 'text_section':%> <%include partials/text-section.ejs%>
            <%break;%>
            <%case 'quote':%> <%include partials/quote.ejs%><%break;%>
            <%case 'full_width_image':%> <%include partials/full-width-image.ejs%><%break;%>
            <%case 'image_gallery':%> <%include partials/image-gallery.ejs%><%break;%>
            <%case 'image_highlight':%> <%include partials/image-highlight.ejs%><%break;%>
         
    <% }}); %>
    </div>
    <hr/>
    <div class="container">
        <div id="form"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#form").alpaca({
                    "data": {
                        "name": "Diego Maradona",
                        "feedback": "Very impressive.",
                        "ranking": "excellent"
                    },
                    "schema": {
                        "title":"User Feedback",
                        "description":"What do you think about Alpaca?",
                        "type":"object",
                        "properties": {
                            "name": {
                                "type":"string",
                                "title":"Name",
                                "required":true
                            },
                            "feedback": {
                                "type":"string",
                                "title":"Feedback"
                            },
                            "ranking": {
                                "type":"string",
                                "title":"Ranking",
                                "enum":['excellent','ok','so so'],
                                "required":true
                            }
                        }
                    },
                    "options": {
                        "form":{
                            "attributes":{
                                "action":"http://httpbin.org/post",
                                "method":"post"
                            },
                            "buttons":{
                                "submit":{}
                            }
                        },
                        "helper": "Tell us what you think about Alpaca!",
                        "fields": {
                            "name": {
                                "size": 20,
                                "helper": "Please enter your name."
                            },
                            "feedback" : {
                                "type": "textarea",
                                "name": "your_feedback",
                                "rows": 5,
                                "cols": 40,
                                "helper": "Please enter your feedback."
                            },
                            "ranking": {
                                "type": "select",
                                "helper": "Select your ranking.",
                                "optionLabels": ["Awesome!",
                                    "It's Ok",
                                    "Hmm..."]
                            }
                        }
                    },
                    "view" : "bootstrap-edit"
                });
            });
        </script>
    </div>
</main>
<footer>
   
</footer>

</body>
</html>