<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="de">
<%-include ./partials/head.ejs %>
<body class="homepage d-flex flex-column min-vh-100">
  <%-include ./partials/header4.ejs %>
    
  <div class="container">
    <div class="row d-flex mt-5">
      <div class="col-md-2 col-xs-4"></div>
      <div class="text-nowrap berlin-div-big mock-hero col-md-8 col-xs-6 d-flex align-items-center justify-content-center">
        <p class="mock-title pr-md-5 pt-md-2">medieninformatik | berlin</p>
      </div> 
      <div class="col-2"></div>
      <div class=" text-nowrap berlin-div-small mock-hero col-9 d-flex align-items-center justify-content-center">
        <p class="mock-title ">medieninformatik |</p><p class="mock-title">berlin</p>
      </div> 
      <div class="col-1"></div>
    </div>
    
    
    </div>



    <div class="row">
      <div class="col-md-3 col-xs-3"></div>
      <div class="col-md-8 col-xs-10"> 
        <h5>
          <a href="" class="typewrite" 
                    data-period="2000" 
                    data-type='[ "Hi, we are launching our new site.", "We are open for inquiries.", "Fell free to get in touch via contact page.", "or e-mail to info@medieninformatik.berlin", "This is work in progress.. <3"  ]'>
          
            <span class="wrap"></span>
          </a>
        </h5>
      </div>
      <div class="col-md-1 col-xs-1"></div>
    </div>

  </div> <!-- Container-->




  


    <br/><br/><br/><br/>

<section style="margin:50px;background-color: #000; color: #000">
<a href="#" data-toggle="collapse" data-target="#collapseTargetDEBUG" aira-controls="collapseTargetDEBUG"> 
  <span ></span></a><br/><br/>
        <div class="teaserbox1_additionaltext collapse" id="collapseTargetDEBUG">
          
  <h1>Debuging Info</h1>
  <div class="container">

  <hr/>
  <h5>menu3</h5>
  <pre><%=JSON.stringify(menu3,null,4) %></pre>
  <hr/>
  <pre><%=JSON.stringify(pageContent.data,null,4) %></pre>

  <hr/>
  <h5>ctx</h5>
  <pre><%=JSON.stringify(ctx) %></pre>

  <hr/>
  <h5>linkResolver</h5>
  <%var linkResolver = linkResolver;%>
  <pre><%=JSON.stringify(linkResolver,null,4) %></pre>

  <hr/>
  </div>
</div>
  </section>



<footer class="mt-auto">
  <div class="mx-auto" style="width: 200px;">
    <span>(c) 2020 mi|b</span>
  </div>
</footer>






  <script>
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { color: white; font-family: monospace; border-right: 0.08em solid #fff;font-size:1.5rem}";
        document.body.appendChild(css);
    };
  </script>

</body>